<div class="container">
  <div class="nav-element nav-button">
    <span routerLink="/" class="nav-router-link">
      <mat-icon aria-hidden="false" aria-label="Navigate to home page">
        home
      </mat-icon>
      <span class="icon-text">home</span>
    </span>
  </div>

  <div class="nav-element nav-search-bar">
    <app-search-bar></app-search-bar>
  </div>

  <ng-container *ngIf="user$ | async; else isGuest">
    <div class="nav-element nav-button">
      <span [matMenuTriggerFor]="userMenu" class="nav-router-link">
        <mat-icon aria-hidden="false" aria-label="User menu">
          menu
        </mat-icon>
        <span class="icon-text">menu</span>
      </span>
    </div>
  </ng-container>

  <ng-template #isGuest>
    <div class="nav-element nav-button">
      <span routerLink="/signin" class="nav-router-link">
        <mat-icon aria-hidden="false" aria-label="Navigate to sign in page">
          input
        </mat-icon>
        <span class="icon-text">sign in</span>
      </span>
    </div>
  </ng-template>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/watchList" class="menu-router-link">
    <mat-icon>theaters</mat-icon>
    <span>Watch list</span>
  </button>
  <button mat-menu-item (click)="onSignOut()" class="menu-router-link">
    <mat-icon>input</mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>
