<mat-toolbar color="primary" class="container">
  <button mat-button routerLink="/">
    <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
  </button>

  <app-search-bar></app-search-bar>

  <button mat-button routerLink="/watchList">Watch list</button>

  <ng-container *ngIf="user$ | async; else isGuest">
    <button mat-button (click)="onSignOut()">Sign out</button>
  </ng-container>

  <ng-template #isGuest>
    <button mat-button routerLink="/auth">Sign in</button>
  </ng-template>
</mat-toolbar>
