@import 'src/styles.scss';

.mat-toolbar {
  max-height: 48px;
}

.mat-icon {
  transform: scale(0.75);
}

.mat-button {
  @include transition-smooth;

  @include button-fonts-smaller;

  width: 100%;
  height: 100%;

  &:hover {
    color: $primary-light;
  }
}

.container {
  box-shadow: 0px 0px 10px 4px $grey-lightest;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  justify-content: space-around;
}
