@import 'src/styles.scss';

$unit: 48px;

.container {
  height: $unit;

  background: $primary;
  box-shadow: 0px 0px 10px 4px $grey-lightest;

  display: grid;
  grid-template-columns: $unit 1fr $unit;
  grid-template-rows: $unit;
  justify-content: stretch;
}

.nav-element {
  justify-self: stretch;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.nav-button {
  &:hover {
    cursor: pointer;

    color: $grey-lightest-extra;
  }

  &:hover {
    .icon-text {
      display: inline-block;
    }
  }
}

.nav-router-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:focus,
  .menu-router-link:focus {
    outline: none;
  }
}

.icon-text {
  display: none;
  font-variant: small-caps;
  font-size: $font-size-smaller-sub;
}
