<mat-toolbar color="primary" class="container">
  <button mat-button routerLink="/">
    <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
  </button>
  <button mat-button routerLink="/movies">
    <span class="btn-text">movies</span>
  </button>
  <button mat-button routerLink="/watchList">watch list</button>
  <ng-container *ngIf="user$ | async; else visitor">
    <button mat-button (click)="onSignOut()">sign out</button>
  </ng-container>
  <ng-template #visitor>
    <button mat-button routerLink="/auth">sign in</button>
  </ng-template>
</mat-toolbar>
