$primary-light: rgb(211, 196, 219);
@mixin light-transition {
  transition: 0.2s;
}

.mat-icon {
  transform: scale(0.75);
}

.mat-stroked-button {
  @include light-transition;

  width: 100%;

  color: $primary-light;

  &:hover {
    color: whitesmoke;
  }
}

.container {
  box-shadow: 0px 5px 5px rgba($color: lightgrey, $alpha: 0.8);

  display: flex;
  justify-content: space-around;
}
