@import 'src/styles.scss';

.search-bar {
  @include transition-smooth-slow;

  padding: 8px 16px;

  border: none;
  border-radius: 100px;

  color: $grey-darker;

  width: 80%;

  &::placeholder {
    color: $grey-lighter;
  }

  &:focus {
    outline: none;

    width: 100%;

    &::placeholder {
      color: transparent;
    }
  }
}
