@import 'src/styles.scss';
.container {
  margin: 8px 16px;
}

.header {
  padding: 8px 0px 12px 0px;

  color: $grey-medium;
  text-align: center;
  font-size: $font-size-normal;
}

.keyword {
  text-transform: capitalize;
}

.divider {
  width: 80%;

  margin: auto;
}
