.container {
  padding: 64px;

  display: grid;  
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, 15vw);
  gap: 16px;

  @media screen and (max-width: 593px) {
    padding: 16px;

    grid-template-columns: repeat(auto-fit, 25vw);
  }
}

.card {
  height: 20vw;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;

  cursor: default;

  filter: brightness(1) contrast(1);
  transform: translateY(0);
  transition: .4s;

  &:hover {
    cursor: pointer;

    filter: brightness(1.4) contrast(.85);
    transform: translateY(-5%);
    transition: .4s;

    box-shadow: 8px 12px 8px grey;
  }

  &:active {
    transform: translateY(-3%);
    transition: .2s;

    box-shadow: 4px 8px 4px grey;
  }

  @media screen and (max-width: 593px) {
    height: 33.33vw;
  }
}