<div class="container">
  <div *ngIf="isLoading$ | async">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="isEmpty$ | async" class="reminder-empty">
    Your watch list is currently empty, start adding movies to it!
  </div>

  <div *ngIf="isPopulated$ | async">
    <div *ngIf="movies$ | async as movies">
      <app-watch-list-table
        [movies]="movies"
        (toggleFinished)="onToggleFinished($event)"
        (remove)="onRemove($event)"
        (navigateTo)="onNavigateToMovie($event)"
      ></app-watch-list-table>
    </div>
  </div>
</div>
