<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Movie id</mat-label>
    <input matInput [formControl]="id" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Movie status</mat-label>
    <input matInput [formControl]="isFinished" />
  </mat-form-field>
  <br />

  <button mat-flat-button color="primary" (click)="add()">
    Add to document
  </button>

  <button mat-flat-button color="accent" (click)="update()">
    Update in document
  </button>

  <button mat-flat-button color="warn" (click)="delete()">
    Delete from document
  </button>

  <button mat-stroked-button color="warn" (click)="load()">
    Load document
  </button>
  <div *ngIf="data$ | async as data">
    <div *ngFor="let d of data">{{ d.key }} : {{ d.value }}</div>
  </div>
</div>
