@import 'src/styles.scss';
@include error-message;

.container {
  box-sizing: border-box;

  @include border-light;

  margin: 6.25vh auto;
  padding: 48px 40px 32px;

  width: 420px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-title {
  color: $grey-darker;

  padding: 8px 0px 24px 0px;

  text-align: center;
  font-size: $font-size-larger;
}

.mat-spinner {
  width: 100%;
  margin: 0 auto;
}

.form-actions {
  margin-top: 24px;

  color: $grey-medium;

  @include button-fonts-smaller;

  display: flex;
  justify-content: space-between;
}
