<div *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="form-title" id="data-form-title">
    Reset password
  </div>

  <mat-form-field appearance="outline">
    <mat-label id="data-password-label">Enter your password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
      id="data-password-input"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon id="data-password-toggle">
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label id="data-password-confirmation-label">
      Confirm password
    </mat-label>
    <input
      matInput
      formControlName="passwordConfirmation"
      [type]="hidePasswordConfirmation ? 'password' : 'text'"
      id="data-password-confirmation-input"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hidePasswordConfirmation = !hidePasswordConfirmation"
      [attr.aria-label]="'Hide password confirmation'"
      [attr.aria-pressed]="hidePasswordConfirmation"
    >
      <mat-icon id="data-password-confirmation-toggle">
        {{ hidePasswordConfirmation ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
    <mat-hint align="end">
      Your password must be at least 6 characters long
    </mat-hint>
  </mat-form-field>
  <br />

  <div class="form-actions">
    <button
      type="button"
      mat-button
      color="primary"
      id="data-form-cancel"
      routerLink="/sign-in"
    >
      Cancel
    </button>

    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      id="data-form-submit"
    >
      Confirm
    </button>
  </div>
  <br />

  <mat-error
    *ngIf="(form.touched || form.dirty) && form.errors?.mismatched"
    class="error-message"
    id="data-form-mismatch-error"
  >
    Passwords must match
  </mat-error>

  <mat-error
    *ngIf="errorMessage$ | async as errorMessage"
    class="error-message"
    id="data-form-error"
  >
    {{ errorMessage }}
  </mat-error>
</form>
