@import 'src/styles.scss';

.title {
  text-align: center;
}

.content {
  margin: 8px 16px;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.icon {
  grid-column: 1/1;
  vertical-align: center;
  text-align: center;

  font-size: 50px;
}

.question {
  grid-column: 2/-1;
  vertical-align: center;

  text-align: justify;
  hyphens: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
}
