@import 'src/styles.scss';

$icon-size: 40px;

.container {
  width: 33vw;
  min-width: 150px;
}

.title {
  font-size: $font-size-normal;
  text-align: center;
  font-weight: 500;
}

.question {
  margin-top: 16px;

  text-align: justify;
  hyphens: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
