<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="title">
    {{ isSignIn ? 'Sign in' : 'Sign up' }}
  </div>

  <mat-form-field appearance="outline" class="from form-email">
    <mat-label>Enter your e-mail</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <br />

  <mat-form-field appearance="outline" class="from form-password">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <br />

  <div class="form-actions">
    <button type="button" mat-button color="primary" (click)="onSwitch()">
      {{ isSignIn ? ' Create account ' : 'Already have an account?' }}
    </button>

    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
    >
      {{ isSignIn ? 'Sign in' : 'Sign up' }}
    </button>
  </div>

  <br />

  <div *ngIf="isLoading$ | async">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <mat-error *ngIf="errorMessage$ | async as errorMessage">
    {{ errorMessage }}
  </mat-error>
</form>
