<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    E-mail
    <input type="email" formControlName="email" />
  </div>

  <div>
    Password
    <input type="password" formControlName="password" />
  </div>

  <button type="submit" [disabled]="form.invalid">
    {{ isSignIn ? 'Sign in' : 'Sign up' }}
  </button>
</form>

<button (click)="onSwitch()">
  Switch to {{ isSignIn ? ' Sign up ' : 'Sign in' }}
</button>

<div *ngIf="isLoading$ | async">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>
