.form {
  margin: 6.25vh auto;

  width: 100%;
  max-width: 420px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-spinner {
  width: 100%;
  margin: 0 auto;
}

.form-actions {
  display: flex;

  justify-content: space-evenly;
  @media screen and (max-width: 800px) {
    justify-content: space-between;
  }

  align-items: flex-start;
}

.mat-flat-button {
  width: 50%;
  max-width: 160px;
}
