.movie {
  padding: 0vw 15vw;
}

.container {
  display: grid;
  row-gap: 8px;
  grid-template-rows: 5vh max-content max-content 5vh;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 593px) {
    padding: 0px;
  }
}

.header {
  grid-row: 1/2;
  align-self: end;
}

.title {
  grid-column: 1/2;
}

.watch-list {
  grid-column: 3/4;
  justify-self: end;

  color: black;

  transition: 0.2s;

  &:hover {
    cursor: pointer;

    color: teal;

    transition: 0.2s;
  }

  &:active {
    transform: translateY(10%);
    transition: 0.2s;
  }
}

.main {
  grid-row: 2/3;
  align-self: start;
  text-align: center;
}

.poster {
  max-width: 30vw;

  grid-column: 0/1;
}

.writers {
  grid-column: 2/3;
}

.actors {
  grid-column: 3/4;
}

.plot {
  grid-row: 3/4;
  grid-column: 1/-1;
  align-self: start;
}

.footer {
  grid-row: 4/5;
  align-self: start;
}

.run-time {
  grid-column: 1/2;
}

.year {
  grid-column: 3/4;
  justify-self: end;
}
