<div *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</div>

<div class="movie">
  <div *ngIf="movie$ | async as movie">
    <div class="container">
      <div class="header title">{{ movie.title }} ({{ movie.rating }})</div>

      <ng-container *ngIf="isOnWatchList; else isNotOnWatchList">
        <div class="header watch-list" (click)="onRemoveFromWatchList(movie)">
          Remove from watch list
        </div>
      </ng-container>

      <ng-template #isNotOnWatchList>
        <div class="header watch-list" (click)="onAddToWatchList(movie)">
          Add to watch list
        </div>
      </ng-template>

      <img class="main poster" [src]="movie.posterUrl" />
      <div class="main writers">
        <div *ngFor="let writer of movie.writers">
          {{ writer }}
        </div>
      </div>
      <div class="main actors">
        <div *ngFor="let actor of movie.actors">
          {{ actor }}
        </div>
      </div>
      <div class="plot">
        {{ movie.plot }}
      </div>
      <div class="footer run-time">{{ movie.runTime }}</div>
      <div class="footer year">{{ movie.year }}</div>
    </div>
  </div>
</div>
