.navigation-bar {
  background-color: teal;
  
  width: 100%;
  height: 5vh;
  
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.btn_home {
  color: black;
  transition: .2s;

  &:hover {
    color: white;
    transition: .2s;
  }
}