<div *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="title" id="data-form-title">
    {{ isSignIn ? 'Sign in' : 'Sign up' }}
  </div>

  <mat-form-field appearance="outline">
    <mat-label id="data-email-label">Enter your e-mail</mat-label>
    <input matInput formControlName="email" id="data-email-input" />
  </mat-form-field>

  <br />

  <mat-form-field appearance="outline">
    <mat-label id="data-password-label">Enter your password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
      id="data-password-input"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon id="data-password-toggle">{{
        hidePassword ? 'visibility_off' : 'visibility'
      }}</mat-icon>
    </button>

    <mat-hint
      *ngIf="isSignIn"
      align="start"
      routerLink="/forgot-password"
      class="form-password-forgot"
      id="data-password-forgot"
    >
      Forgot password?
    </mat-hint>

    <mat-hint *ngIf="!isSignIn" align="end">
      Your password must be at least 6 characters long
    </mat-hint>
  </mat-form-field>

  <br />

  <div class="form-actions">
    <button
      type="button"
      mat-button
      color="primary"
      (click)="onSwitch()"
      id="data-form-toggle"
    >
      {{ isSignIn ? ' Create account ' : 'Already have an account?' }}
    </button>

    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      id="data-form-submit"
    >
      {{ isSignIn ? 'Sign in' : 'Sign up' }}
    </button>
  </div>

  <br />
</form>
