@import 'src/styles.scss';

$title-width: 80px;

.container {
  margin: 16px auto;

  width: 85vw;

  display: grid;
  grid-auto-flow: row;
  gap: 8px;

  @media screen and (max-width: $resolution-medium) {
    width: 90vw;
  }

  @media screen and (max-width: $resolution-smallest) {
    width: 95vw;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $resolution-smaller) {
    flex-direction: column;
  }

  color: $grey-darkest;
  font-size: $font-size-smaller;
}

.card {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 16px;

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: justify;
    color: $grey-darkest;
  }
}

.poster {
  width: 200px;

  border-radius: 20px;
}

.btn_watch-list {
  max-width: 300px;

  align-self: flex-end;
}
