<div *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</div>

<div class="container">
  <div *ngIf="movie$ | async as movie">
    <div class="card">
      <div class="header">
        <div class="header-left">
          <span class="header-left-title">{{ movie.title }} </span>
          <span>({{ movie.year }})</span>
        </div>
        <div class="header-right">
          <span>{{ movie.runTime }}</span>
          |
          <span>{{ movie.rating }}</span>
          <span class="header-right-rating-scale">/10</span>
        </div>
      </div>
      <div class="content">
        <img class="poster" [src]="movie.posterUrl" [alt]="movie.title" />
        <span class="content-text plot">{{ movie.plot }}</span>
        <div class="content-text button">
          <ng-container *ngIf="isOnWatchList; else isNotOnWatchList">
            <button
              mat-stroked-button
              color="warn"
              (click)="onRemoveFromWatchList(movie)"
              class="button"
            >
              REMOVE FROM WATCH LIST
            </button>
          </ng-container>
          <ng-template #isNotOnWatchList>
            <button
              mat-flat-button
              color="primary"
              (click)="onAddToWatchList(movie)"
              class="button"
            >
              ADD TO WATCH LIST
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
