@import 'src/styles.scss';

$title-width: 80px;

.container {
  border: 0.5px solid $grey-lightest;
  border-radius: 8px;

  overflow: hidden;

  box-shadow: 4px 4px 16px 10px $grey-lightest;

  margin: 16px auto;

  width: 55vw;

  display: grid;
  grid-auto-flow: row;
  gap: 8px;

  @media screen and (max-width: $resolution-medium) {
    width: 90vw;
  }

  @media screen and (max-width: $resolution-smallest) {
    width: 95vw;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $resolution-smaller) {
    flex-direction: column;
  }

  padding: 8px 16px;

  background-color: $primary;

  color: white;
  text-transform: uppercase;
  font-size: $font-size-normal;
}

.card {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: justify;
    color: $grey-darkest;
  }
}

.plot {
  padding: 0px 16px;
}

.poster {
  width: 200px;
}

.btn_watch-list {
  margin: 0px 24px 24px 0px;

  max-width: 300px;

  align-self: flex-end;
}
