<div *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</div>

<div class="container">
  <div *ngIf="movie$ | async as movie">
    <div class="container">
      <div class="card">
        <img class="poster" [src]="movie.posterUrl" [alt]="movie.title" />
        <div class="card-details">
          <div class="card-info">
            <div class="header">
              <span> {{ movie.title }} ( {{ movie.year }}) </span>
              <span>{{ movie.runTime }} | {{ movie.rating }}/10 </span>
            </div>
            <p class="plot">
              {{ movie.plot }}
            </p>
          </div>

          <ng-container *ngIf="isOnWatchList; else isNotOnWatchList">
            <button
              class="btn_watch-list"
              mat-stroked-button
              color="warn"
              (click)="onRemoveFromWatchList(movie)"
            >
              REMOVE FROM WATCH LIST
            </button>
          </ng-container>

          <ng-template #isNotOnWatchList>
            <button
              class="btn_watch-list"
              mat-stroked-button
              color="primary"
              (click)="onAddToWatchList(movie)"
            >
              ADD TO WATCH LIST
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
