@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary-light: rgb(211, 196, 219);
$primary: #673ab7;

$grey-lightest-extra: rgba(237.5, 237.5, 237.5);
$grey-lightest: rgba(225, 225, 225);
$grey-lighter: rgba(175, 175, 175);
$grey-medium: rgb(125, 125, 125);
$grey-darker: rgb(75, 75, 75);
$grey-darkest: rgb(25, 25, 25);

$font-size-smallest: 8px;
$font-size-smaller-sub: 10.5px;
$font-size-smaller: 12px;
$font-size-normal-sub: 14.5px;
$font-size-normal: 16px;
$font-size-larger: 20px;
$font-size-largest: 22px;

$warn-solarized: #be0d0d;
$success-solarized: #47a752;

$resolution-smallest-extra: 450px;
$resolution-smallest: 600px;
$resolution-smaller: 680px;
$resolution-medium: 800px;
$resolution-larger: 1280px;

@mixin transition-smooth {
  transition: 0.2s;
}

@mixin transition-smooth-slow {
  transition: 0.4s;
}

@mixin border-light {
  border: 1px solid $grey-lightest;
  border-radius: 8px;
}

@mixin button-fonts-smaller {
  text-transform: uppercase;
  font-size: $font-size-smaller;
}

@mixin error-message {
  .error-message {
    font-weight: 350;
    text-align: justify;
  }
}

@mixin reminder-text{
  .reminder-text{
    padding-top: 16px;

    text-align: center;
    color: $grey-darker;
  }
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-size: $font-size-normal;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue Light', sans-serif;
}

.snack-bar-success {
  background-color: $success-solarized;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.snack-bar-error {
  background-color: $warn-solarized;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}
