<p>auth works!</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    E-mail
    <input type="email" formControlName="email" />
  </div>

  <div>
    Password
    <input type="password" formControlName="password" />
  </div>

  <button type="submit" [disabled]="form.invalid">
    {{ isSignIn ? 'Sign in' : 'Sign up' }}
  </button>
</form>

<div *ngIf="isSignIn; else signup">
  <button routerLink="/signup">Switch to Sign up</button>
</div>
<ng-template #signup>
  <button routerLink="/signin">Switch to Sign in</button>
</ng-template>
