.item {
  padding: 0px 8px;

  display: flex;
  justify-content: space-between;

  &-title,
  &-isFinished,
  &-remove {
    &:hover {
      cursor: pointer;
    }
  }

  &-poster {
    width: 80px;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.material-icons.md-inactive {
  cursor: default;

  &.md-arrow {
    color: rgba(#3d9970, 0.24);
  }

  &.md-trashcan {
    color: rgba(#ff4136, 0.24);
  }

  transition: 0.2s;

  &:hover {
    cursor: pointer;

    &.md-arrow {
      color: #3d9970;
    }

    &.md-trashcan {
      color: #ff4136;
    }
  }

  &:active {
    transform: translateY(10%);
    transition: 0.2s;
  }
}

.material-icons.md-active {
  cursor: default;

  &.md-arrow {
    color: #3d9970;
  }

  &.md-trashcan {
    color: #ff4136;
  }

  color: black;

  transition: 0.2s;

  &:hover {
    cursor: pointer;

    &.md-arrow {
      color: rgba(#3d9970, 0.24);
    }
  }

  &:active {
    transform: translateY(10%);
    transition: 0.2s;
  }
}
