@import 'src/styles.scss';

.container {
  display: flex;
}

.search-bar {
  @include transition-smooth-slow;

  overflow: hidden;

  border-radius: 20px;

  padding: 6px 12px;

  background-color: $grey-lightest-extra;

  font-size: $font-size-smaller;

  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 8px;

  width: 45vw;

  &:hover,
  &:active {
    box-shadow: inset 1px 1px 8px $grey-lightest-extra;

    background-color: white;

    width: 50vw;

    .search-bar-icon {
      color: $primary;
    }
  }

  &-icon {
    color: $grey-lighter;
  }

  &-input {
    width: 100vw;

    outline: none;
    border: none;
    background: none;

    color: $grey-darkest;
    text-transform: uppercase;
  }
}
