<p>watch-list works!</p>
<div *ngIf="isLoading$ | async">is loading</div>
<div *ngIf="isUpdated$ | async">is updated</div>
<div *ngIf="isEmpty$ | async">is empty</div>
<div *ngIf="movies$ | async as movies">
  <div *ngFor="let movie of movies | keyvalue">
    <div class="item">
      <img
        class="item item-poster"
        [src]="movie.value.posterUrl"
        [alt]="movie.value.title"
      />
      |
      <div
        class="item item-title"
        routerLink="/movies/{{ movie.value.imdbId }}"
      >
        {{ movie.value.title }}({{ movie.value.year }})
      </div>
      |
      <div class="item item-isFinished" (click)="onFinished(movie.value)">
        {{ movie.value.isFinished ? 'finished' : 'in progress' }}
      </div>
      |

      <div class="item item-remove" (click)="onRemove(movie.value)">
        remove
      </div>
    </div>
  </div>
</div>
