@import 'src/styles.scss';
@include error-message;

.container {
  box-sizing: border-box;

  @include border-light;

  margin: 6.25vh auto;
  padding: 48px 40px 32px;

  width: 420px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-text {
  color: $grey-darker;

  &-title {
    padding: 8px 0px 24px 0px;

    text-align: center;
    font-size: $font-size-larger;
  }

  &-help {
    margin-bottom: 32px;

    text-align: justify;
    font-size: $font-size-normal;
    font-weight: 350;
  }
}

.mat-spinner {
  width: 100%;
  margin: 0 auto;
}

.form-actions {
  color: $grey-medium;

  @include button-fonts-smaller;

  display: flex;
  justify-content: space-between;
}
