<div *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="form-text">
    <div class="form-text-title" id="data-form-title">
      Forgot password
    </div>

    <div class="form-text-help" id="data-form-help">
      Enter your e-mail and we'll send you a link to reset your password.
    </div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label id="data-email-label">E-mail address</mat-label>
    <input matInput formControlName="email" id="data-email-input" />
  </mat-form-field>
  <br />

  <div class="form-actions">
    <button
      type="button"
      mat-button
      color="primary"
      id="data-form-cancel"
      routerLink="/sign-in"
    >
      Cancel
    </button>

    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      id="data-form-submit"
    >
      Send e-mail
    </button>
  </div>
  <br />

  <mat-error
    *ngIf="errorMessage$ | async as errorMessage"
    class="error-message"
    id="data-form-error"
  >
    {{ errorMessage }}
  </mat-error>
</form>
